---
title: Documentations
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
numberOfLatestPostsToShow: 3
---
<div class="fr-container fr-my-6w">
  {% set postsCount = collections.posts | filterCollectionLang | length %}
  {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
  <h2>{% if latestPostsCount != 1 %}Les {{ latestPostsCount }} derniers articles{% else %}Le dernier article{% endif %}</h2>

  {% set postslist = collections.posts | filterCollectionLang | head(-1 * numberOfLatestPostsToShow) %}
  {% set postslistCounter = postsCount %}
  {% include "postslist.njk" %}

  {% set morePosts = postsCount - numberOfLatestPostsToShow %}
  {% if morePosts > 0 %}
    <p>{{ morePosts }} {% if morePosts != 1 %}articles supplémentaires peuvent être consultés{% else %}article supplémentaire peut être consulté{% endif %}
      dans <a href="{{ "/blog" | locale_url }}">la documentation</a>.</p>
  {% endif %}

  {# List every content page in the project #}
  {#
  <ul>
    {%- for entry in collections.all %}
    <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
    {%- endfor %}
  </ul>
  #}
</div>
