module.exports = function(eleventyConfig) {
  eleventyConfig.addShortcode("swaggerUI", function(apiPath) {
    return `
      <link rel="stylesheet" type="text/css" href="/swagger-ui/swagger-ui.css" />
      <script src="/swagger-ui/swagger-ui-bundle.js"></script>
      <script src="/swagger-ui/swagger-ui-standalone-preset.js"></script>
      <div id="swagger-ui"></div>
      <script>
        SwaggerUIBundle({
          url: "${apiPath}",
          dom_id: '#swagger-ui',
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
          ],
          layout: "StandaloneLayout"
        });
      </script>
    `;
  });
};
